.h2-style {
  margin: 1vh;
}

.loginPage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.email-container {
  margin: 1vh;
  padding: 1vh;
}

.form-container {
  margin: 1vh;
}
